@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius-rounded-sm: 4px;
  --Color-Style-Primary-Roles-Pri-color: #4567f7;
}

.nav-text {
  color: var(--Color-Style-Primary-Roles-On-Pri-Container, #14183b);
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.25px;
}
